@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import "~react-image-gallery/styles/css/image-gallery.css";
.product_section {
    position: relative;
}
.product_view {
    padding: 70px 0px 140px;
    position: relative;
}
.pro_sec {
    position: relative;
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin-bottom: -110px;
}
